[Desktop Entry]
Type=Application
Name=MBSniffer
Comment=ModBus sniffer application.
Exec=/usr/share/sniffer/build/sniffer
Icon=/usr/share/sniffer/data/logo.png
Terminal=false
Categories=Development;Electronics;
Keywords=embedded electronics;electronics;microcontroller;
X-Desktop-File-Install-Version=0.01
